<%- include('./partials/header') %>


<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p> -->
        <h1 style="font-family: irsans;" class="mb-0 bread">درباره ما</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
            <span class="flaticon-bag"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">ارسال رایگان</h3>
            <p>ارسال رایگان فروشگاه پیرامید به تمام نقاط کشور توسط پیک مخصوص حمل کالاهای ارزشمند </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
            <span class="flaticon-customer-service"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">پشتیبانی شبانه روز</h3>
            <p>پشتیبانان فروشگاه پیرامید به صورت شبانه روز اماده خدمت رسانی و مشاوره خرید به شما هستند</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
            <span class="flaticon-payment-security"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">امنیت پرداخت</h3>
            <p>امنیت خرید شما توسط یکی از بزرگترین شاخه های بانک مرکزی به نام زرین پال تامین میشود و جای هیچ نگرانی
              نیست
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
        style="background-image: url(images/about.jpg);">
        <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
          <span class="icon-play"></span>
        </a>
      </div>
      <div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
        <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">تاسیس شده در سال 1402</h2>
          </div>
        </div>
        <div class="pb-md-5 pb-4">
          <p>متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
            متن
            متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
            متن
            متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن</p>
          <p>متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
            متن
            متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
            متن
            متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن</p>
          <p><a href="#" class="btn btn-primary">خرید کنید</a></p>
        </div>
      </div>
    </div>
  </div>
</section>



<%- include('./partials/footer') %>